body {
  font-family: 'Kumbh Sans' !important;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

.form-width {
  width: 25%;
}

@media screen and (max-width: 375px) {
  #signup {
    background-image: url(../svgs/sign-up/bg-pattern-side.svg);
    background-size: 25%;
  }
}