body {
  font-family: 'Kumbh Sans';
  background-color: #f2f2f2;
}

/* #logo {
  background-image: url(../svgs/home/bg-pattern-header.svg);
  background-size: cover;
  background-repeat: no-repeat;
  top: -5rem;
} */